{% extends "layout.njk" %}

{% block content %}

    {% block head %}
        <title>PageNotFound</title>
    {% endblock %}

    <div id="notfound">
        <img src="https://github.com/MaluDev/PortifolioMaykBrito/blob/master/404.PNG?raw=true" alt="Not Found">
        <h1> Page Not Found </h1>
    </div>

{% endblock %}